
@{
    ViewData["Title"] = "loginPaga";
}
<body>
    <section class="container1 forms">
        <div class="form login">
            <div class="form-content">
                <header>Login</header>
                <form action="#" method="post">
                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="input" id="email" name="email">
                    </div>
                    <div class="field input-field">
                        <input type="password" placeholder="Password" class="password" id="Passoword" name="Passoword">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>
                    <div class="form-link">
                        <a href="#" class="forgot-pass">Forgot password?</a>
                    </div>
                    <div class="field button-field">
                        <button type="submit">Login</button>
                    </div>
                </form>

                <div class="form-link">
                    
                </div>
            </div>
        </div>
        <!-- Signup Form -->

    </section>
    <!-- JavaScript -->
</body>