
@{
    ViewData["Title"] = "oteller";
}

<!--sladir-->
<section class="section-gray">
    <div class="container">
        <h3>5 Yildiz oteller</h3>
        <div class="row">
            <div class="col-lg-12">

                <div class="level-slider-1">


                    <article class="level-slider-item">
                        <img src="~/assets/images/ph2.jpg" alt="">
                        <div class="level-slider-item-container">
                            <h3>Casa Verde</h3>
                            <p>
                                 balkonlu ve klimalı bir konaklama birimi sunmaktadır. Bu tesiste teras, ücretsiz özel otopark ve ücretsiz WiFi erişimi mevcuttur.
                            </p>
                            <a href="https://www.booking.com/hotel/es/casa-verde-istan.tr.html?label=istan-YKmdEc1BsFTxia5n3c_wqgS676152358998%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atiaud-146342137510%3Akwd-310182036950%3Alp1012782%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YcX_GyndjDE1-TsKf3Vg1KA&sid=9653c073284c61c34b4e2602dea27a6b&gclid=CjwKCAjw9IayBhBJEiwAVuc3fhP62csZ5F_nbG7-LxdsYECoFslNXc1jcxPw3GTP3TVzMCSrGHG4shoCKisQAvD_BwE&aid=319929&ucfs=1&arphpl=1&dest_id=-385983&dest_type=city&group_adults=2&req_adults=2&no_rooms=1&group_children=0&req_children=0&hpos=2&hapos=2&sr_order=popularity&srpvid=4426022061500055&srepoch=1715646185&from_sustainable_property_sr=1&from=searchresults#hotelTmpl" class="btn btn-primary">Get more info</a>
                        </div>
                    </article>

                    <article class="level-slider-item">
                        <img  src="~/assets/images/ph3.jpg" alt="">
                        <div class="level-slider-item-container">
                            <h3>
                                Hotel Altos de IstánYeni
                            </h3>
                            <p>Istán'da yer alan 4 yıldızlı Hotel Altos de Istán teras, restoran ve bar sunmaktadır. Tesiste oda servisi ve tüm alanlarda ücretsiz WiFi erişimi sağlanır.</p>
                            <a href="https://www.booking.com/hotel/es/altos-de-istan.tr.html?aid=319929&label=istan-YKmdEc1BsFTxia5n3c_wqgS676152358998%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atiaud-146342137510%3Akwd-310182036950%3Alp1012782%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YcX_GyndjDE1-TsKf3Vg1KA&sid=9653c073284c61c34b4e2602dea27a6b&dest_id=-385983;dest_type=city;dist=0;group_adults=2;group_children=0;hapos=3;hpos=3;no_rooms=1;req_adults=2;req_children=0;room1=A%2CA;sb_price_type=total;sr_order=popularity;srepoch=1715646292;srpvid=4426022061500055;type=total;ucfs=1&#hotelTmpl" class="btn btn-primary">Get more info</a>
                        </div>
                    </article>

                    <article class="level-slider-item">
                        <img src="~/assets/images/ph4.jpg" alt="">
                        <div class="level-slider-item-container">
                            <h3>Casa Rural Manantial de las Jaras   </h3>
                            <p> şehir manzaralı olup bir restoran ile hizmet vermektedir.</p>
                            <a href="https://www.booking.com/hotel/es/casa-rural-en-istan.tr.html?aid=319929&label=istan-YKmdEc1BsFTxia5n3c_wqgS676152358998%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atiaud-146342137510%3Akwd-310182036950%3Alp1012782%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YcX_GyndjDE1-TsKf3Vg1KA&sid=9653c073284c61c34b4e2602dea27a6b&dest_id=-385983&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=4&hpos=4&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&srepoch=1715648008&srpvid=4426022061500055&type=total&ucfs=1&activeTab=main" class="btn btn-primary">Get more info</a>
                        </div>
                    </article>

                    <article class="level-slider-item">
                        <img src="~/assets/images/ph5.jpg" alt="">
                        <div class="level-slider-item-container">
                            <h3>Istanbul Gold Hotel</h3>
                            <p>Bakü’de, Bakü Tren İstasyonu’na 2,6 km mesafede yer alan İstanbul Gold Hotel Baku, şehir manzaralı olup bir restoran ile hizmet vermektedir.</p>
                            <a href="https://www.booking.com/hotel/az/istanbul-express-baku.tr.html?aid=319929&label=istan-YKmdEc1BsFTxia5n3c_wqgS676152358998%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atiaud-146342137510%3Akwd-310182036950%3Alp1012782%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YcX_GyndjDE1-TsKf3Vg1KA&sid=9653c073284c61c34b4e2602dea27a6b&dest_id=2990383&dest_type=hotel&dist=0&group_adults=2&group_children=0&hapos=1&hpos=1&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&srepoch=1715648108&srpvid=d38b0661173c003d&type=total&ucfs=1&activeTab=main" class="btn btn-primary">Get more info</a>
                        </div>
                    </article>


                </div>
            </div>

        </div>
    </div>
</section>


<section class="section-gray">
    <div class="container">
        <h3>3 Yildiz oteller</h3>
        <div class="row">
            
             <div class="col-lg-12">
                <div class="level-slider-1">
                    <article class="level-slider-item">
                        <img src="~/assets/images/img-02.jpg" alt="">
                        <div class="level-slider-item-container">
                        <h3>
                            The Grand Hotel BDYeni 
                        </h3>
                            <p>Grand Hotel BD, Sylhet'te yer almaktadır. Bu tesiste ATM, restoran ve teras bulunmaktadır hizmetinden yararlanabilirsiniz. hizmetinden yararlanabilirsiniz..</p>
                        <a href="https://www.booking.com/hotel/bd/the-grand-bd.tr.html?aid=319929&label=istan-YKmdEc1BsFTxia5n3c_wqgS247190874703%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atiaud-146342137510%3Akwd-310182036950%3Alp9056745%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YcX_GyndjDE1-TsKf3Vg1KA&sid=9653c073284c61c34b4e2602dea27a6b&dest_id=11471794&dest_type=hotel&dist=0&group_adults=2&group_children=0&hapos=2&hpos=2&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&srepoch=1715666477&srpvid=5fe42a4bc127014b&type=total&ucfs=1&activeTab=photosGallery" class="btn btn-primary">Get more info</a>
                        </div>
                    </article>

                    <article class="level-slider-item">
                        <img src="~/assets/images/ph7.jpg" alt="">
                        <div class="level-slider-item-container">
                        <h3>
                            Hotel Noorjahan GrandYeni
                        </h3>
                        <p>Sylhet'te yer alan Hotel Noorjahan Grand fitness merkezi, bahçe, teras ve restoran sunmaktadır. Bu 4 yıldızlı otelde bankamatik ve konsiyerj </p>
                        <a href="https://www.booking.com/hotel/bd/noorjahan-grand.tr.html?aid=319929&label=istan-YKmdEc1BsFTxia5n3c_wqgS247190874703%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atiaud-146342137510%3Akwd-310182036950%3Alp9056745%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YcX_GyndjDE1-TsKf3Vg1KA&sid=9653c073284c61c34b4e2602dea27a6b&dest_id=11471794&dest_type=hotel&dist=0&group_adults=2&group_children=0&hapos=3&hpos=3&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&srepoch=1715666542&srpvid=5fe42a4bc127014b&type=total&ucfs=1&activeTab=main" class="btn btn-primary">Get more info</a>
                        </div>
                    </article>

                    <article class="level-slider-item">
                        <img src="~/assets/images/ph8.jpg" alt="">
                        <div class="level-slider-item-container">
                        <h3>
                            Jatra Flagship Sylhet City Centre
                        </h3>
                        <p>Jatra Flagship Sylhet City Centre, Sylhet'te yer almaktadır. Bu 4 yıldızlı otelde ücretsiz WiFi erişimi, oda servisi ve 24 saat açık resepsiyon mevcuttur.</p>
                        <a href="https://www.booking.com/hotel/bd/jatra-rooms-syl01.tr.html?label=istan-YKmdEc1BsFTxia5n3c_wqgS247190874703%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atiaud-146342137510%3Akwd-310182036950%3Alp9056745%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YcX_GyndjDE1-TsKf3Vg1KA&sid=9653c073284c61c34b4e2602dea27a6b&aid=319929&ucfs=1&arphpl=1&dest_id=11471794&dest_type=hotel&group_adults=2&req_adults=2&no_rooms=1&group_children=0&req_children=0&hpos=4&hapos=4&sr_order=popularity&srpvid=5fe42a4bc127014b&srepoch=1715666764&from_sustainable_property_sr=1&from=searchresults#hotelTmpl" class="btn btn-primary">Get more info</a>
                        </div>
                    </article>

                    <article class="level-slider-item">
                        <img src="~/assets/images/ph9.jpg" alt="">
                        <div class="level-slider-item-container">
                        <h3>
                            Hotel Crystal Rose-SylhetYeni
                        </h3>
                        <p>Hotel Crystal Rose, Sylhet'te konaklama olanağı sunmaktadır. Bu 4 yıldızlı otelde ücretsiz WiFi erişimi, ortak salon ve oda servisi mevcuttur.</p>
                        <a href="https://www.booking.com/hotel/bd/the-crystal-rose-limited-sylhet.tr.html?label=istan-YKmdEc1BsFTxia5n3c_wqgS247190874703%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atiaud-146342137510%3Akwd-310182036950%3Alp9056745%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YcX_GyndjDE1-TsKf3Vg1KA&sid=9653c073284c61c34b4e2602dea27a6b&aid=319929&ucfs=1&arphpl=1&dest_id=11471794&dest_type=hotel&group_adults=2&req_adults=2&no_rooms=1&group_children=0&req_children=0&hpos=5&hapos=5&sr_order=popularity&srpvid=5fe42a4bc127014b&srepoch=1715666976&from_sustainable_property_sr=1&from=searchresults#hotelTmpl" class="btn btn-primary">Get more info</a>
                        </div>
                    </article>

                    <article class="level-slider-item">
                        <img src="~/assets/images/ph10.jpg" alt="">
                        <div class="level-slider-item-container">
                        <h3>
                            Hotel Ali PlazaYeni 
                        </h3>
                        <p>Hotel Ali Plaza, Sylhet'te konaklama olanağı sunmaktadır. Bahçeye sahip 3 yıldızlı otelin tüm odalarında klima, ücretsiz WiFi erişimi </p>
                        <a href="https://www.booking.com/hotel/bd/ali-plaza.tr.html?aid=319929&label=istan-YKmdEc1BsFTxia5n3c_wqgS247190874703%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atiaud-146342137510%3Akwd-310182036950%3Alp9056745%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YcX_GyndjDE1-TsKf3Vg1KA&sid=9653c073284c61c34b4e2602dea27a6b&dest_id=11471794&dest_type=hotel&dist=0&group_adults=2&group_children=0&hapos=6&hpos=6&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&srepoch=1715667012&srpvid=5fe42a4bc127014b&type=total&ucfs=1&activeTab=photosGallery" class="btn btn-primary">Get more info</a>
                        </div>
                    </article>

                </div>
            </div>

        </div>
    </div>
</section>