
@{
    ViewData["Title"] = "signpPaga";
}
<body>
    <section class="container1 forms">
        <div class="form siwgnup">
            <div class="form-content">
                <header>Signup</header>
                <form action="#" method="post">
                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="input" id="email" name="email">
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Create password" class="password" id="Passoword" name="Passoword">
                    </div>

                    <div class="field button-field">
                        <button type="submit">Signup</button>
                    </div>
                </form>

                <div class="form-link">
               
                </div>
            </div>
        </div>
    </section>
</body>